<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="José Silva">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img src="../public/img/logo.png" height="200px" width="400px"></a>
            <ul class="menu">
                <li><a href="./rooms.html">Rooms</a></li>
                <li><a href="./ranks.html">Ranks</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./register.html">Sign In</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="about-container">
        <h1>Escape-Room: Python</h1>
        <p>Bem-vindo ao nosso Escape Room de Python - onde a emoção e a lógica se unem em uma aventura desafiadora! Aqui, mergulhe em um mundo virtual repleto de quebra-cabeças, enigmas intrigantes e mistérios a serem desvendados, tudo inspirado na fascinante linguagem de programação Python.</p>
        <p>Nossos quebra-cabeças foram projetados cuidadosamente para fornecer uma experiência envolvente e educativa. Mesmo que você seja novo na programação ou já tenha conhecimento avançado em Python, garantimos que encontrará desafios que estimularão seu cérebro e aumentarão seu amor pela linguagem.</p>
        <p>Ao entrar no nosso Escape Room, você será transportado para um ambiente virtual repleto de desafios relacionados ao Python. Cada sala temática está repleta de pistas e enigmas, todos projetados para testar suas habilidades de codificação e raciocínio lógico.</p>
        <p>Em nosso Escape Room de Python, a diversão e a aprendizagem se entrelaçam em uma combinação emocionante. Explore, resolva enigmas, desenvolva seu pensamento lógico e descubra o segredo oculto. Desafie-se e venha experimentar a aventura de uma vida inteira.</p>
    </div>

    <footer>
        <div class="footer-nav">
            <img class="logo-img" src="../public/img/logo.png">
            <ul class="social-media">
                <li><a href="#"><img src="../public/img/facebook.png" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/img/instagram.png" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/img/twitter.png" width="50px" height="50px"></a></li>
        </div>
    </footer>
</body>
</html>