@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    height: 50%;
    margin: 0;
}
  
.container {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    border-radius: 40px;
}

.profile-picture {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 50px;
    top: 30px;
    left: 500px;
}

.picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

.container-2, .container-3, .container-4 {
    display: flex;
    justify-content: space-between;
}

.nome, .email, .idade, .genero, .niveis, .pontos {
    flex-basis: 50%;
    padding: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.editPerfil {
    align-self: flex-end;
    color: black;
    border-radius: 20px;
    background-color: #afa791;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 50px;
}

.adminMenu {
    align-self: flex-end;
    color: black;
    border-radius: 20px;
    background-color: #afa791;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 50px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.conteudo-modal {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fechar {
    color: #afa791;
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover, .fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form {
    height: 60%;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 30px;
    font-weight: bold;
}

.conteudo-modal form .form-group {
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.conteudo-modal form .form-group input {
    text-align: center;
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

select {
    text-align: center;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-group button {
    color: rgb(0, 0, 0);
    background-color: #afa791;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    width: 70%;
    transition: 0.5s;
}